{% extends 'base.html'%}

    {% block main %}
        {%block action%}
            <h2 style="text-align: center;">Update or delete existing records in the table 'Teachers' of the DB.</h2>
        {% endblock %}
    <br>
    <table style="margin-left: auto; margin-right: auto; text-align: center;">
        <tr>
            <th>TEACHER<br><br></th>
        </tr>
        {% for record in records %}
            <tr>
                <td style="text-align: left;">
                    &nbsp;
                    <a href="{% url 'teachers:edit' record.id %}" class="btn btn-warning" >UPDATE</a>&nbsp;|&nbsp;
                    <a href="{% url 'teachers:delete' record.id %}" class="btn btn-danger">DELETE</a>&nbsp;|&nbsp;
                    # ID: {{ record.id }} || {{record.last_name}}, {{record.first_name}}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <br>
                <button onclick="location.href='{% url 'teachers:table' %}'" type="button" class="btn btn-primary">
                    Back to the table
                </button>
            </td>
        </tr>
    </table>

    <br><br>
    {% endblock %}
