{% extends 'base.html'%}

    {% block main %}
    <form method='post'>
    {% csrf_token %}
        <h2>Do You confirm the delete of {{teacher.first_name}} {{teacher.last_name}}, # ID {{teacher.id}}?<br><br></h2>
        <input type="submit" class="btn btn-danger" value="Delete this teacher">
         <button onclick="location.href='{% url 'teachers:filter' %}'" class="btn btn-info" type="button">
             Undo delete
         </button>
    </form>
    {% endblock %}
