{% extends 'table.html'%}


    {% block main %}
        <form>

            <h2>FILL IN THE NECESSARY DATA TO FETCH RECORDS FROM THE TABLE</h2>
            <br>
            <table style="text-align: center; margin-left: 50pt;">

                <tr>
                    <td><label>First name:</label><br></td>
                    <td><label>Last name:</label><br></td>
                    <td><label>Age (full years):</label><br></td>
                </tr>

                 <tr>
                    <td><input type="text" name="first_name" placeholder="Enter the first name"><br><br></td>
                    <td><input type="text" name="last_name" placeholder="Enter the last name"><br><br></td>
                    <td><input type="number" name="age" placeholder="Enter the age"><br><br></td>
                 </tr>

                <tr>
                    <td><label>Date of Birth:</label><br></td>
                    <td><label>E-mail:</label><br></td>
                    <td><label>Mobile number:</label><br></td>
                </tr>

                 <tr>
                    <td><input type="date" name="date_of_birth" placeholder="Enter the date of birth"><br><br></td>
                    <td><input type="text" name="email" placeholder="Enter the email"><br><br></td>
                    <td><input type="text" name="mobile_number" placeholder="Enter the phone number"><br><br></td>
                 </tr>

                <tr>
                    <td><label>Education:</label><br></td>
                    <td><label>Experience (years):</label><br></td>
                    <td><label>Groups:</label><br></td>
                </tr>

                 <tr>
                    <td><input type="text" name="education" placeholder="Enter the data"><br><br></td>
                    <td><input type="number" name="exp_years" placeholder="Enter the working experience"><br><br></td>
                    <td><input type="text" name="groups" placeholder="Enter current groups"><br><br></td>
                 </tr>

                 <tr>
                    <td>
                        <label>Precise search:</label>
                        <input type="checkbox" name="precise" placeholder="Precise search"><br><br>
                    </td>
                 </tr>

                 <tr>
                    <td><input type="submit" value="Search" class="btn btn-info"></td>
                    <td>
                         <button onclick="location.href='{% url 'teachers:new' %}'" type="button" class="btn btn-primary">
                             Create a new teacher
                        </button>
                    </td>
                     <td>
                         <button onclick="location.href='{% url 'teachers:list' %}'" type="button" class="btn btn-warning">
                             Edit teachers
                        </button>
                    </td>
                 </tr>

            </table>



            <br>
            <div>
                <br><b>HINT:</b> The search supports content filtration (except: 'age', 'date of birth', 'experience').
            </div>
            <div style="padding-left: 3em;">
                Apply several symbols that are contained in a field to get the relevant response.
            </div>

        </form>
    {% endblock %}

    {% block wide %}width: 125%{% endblock %}
