{% extends 'base.html'%}
{% load crispy_forms_tags %}


    {% block main %}
       <form method='post' style='margin-left: 20pt'>
            {% csrf_token %}
            <h2>Create a new record in the table 'Groups' of the DB.<br><br></h2>
            {{ form|crispy }}<br>
            <input type="submit" value="Create a group" class="btn btn-success">
            <button onclick="location.href='{% url 'groups:filter' %}'" type="button" style="margin-left: 10pt;" class="btn btn-primary">
                Back to the table
            </button>
            <br><br>
        </form>
    {% endblock %}
