{% extends 'base.html'%}
{% load crispy_forms_tags %}


    {% block main %}
       <form method='post' style='margin-left: 20pt'>
            {% csrf_token %}
            <h2>Update an existing record on a group with id №{{ id }} in the table 'Groups' of the DB.<br><br></h2>
            {{ form|crispy }}<br>
            <input type="submit" value="Update a group" class="btn btn-warning">
            <button onclick="location.href='{% url 'groups:filter' %}'" type="button" style="margin-left: 10pt;" class="btn btn-primary">
                Undo alterations
            </button>
           <br><br>
        </form>
   {% endblock %}

    {% block tabula %}
        {% if group.students.count %}
            <p>STUDENTS: </p>
<!--                % w students=group.students.all %-->
                    {% include 'students/inclusive/students_tabula.html' %}
<!--                % w %-->
                <br><br>
        {% endif %}

        {% if group.teachers.count %}
            <p>TEACHERS: </p>
            {% include 'teachers/inclusive/teachers_tabula.html' %}
            <br><br>
        {% endif %}
    {% endblock %}
