{% extends 'base.html'%}

    {% block main %}
    <form method='post'>
        {% csrf_token %}
        <h2>Do You confirm the delete of the group "{{group.group_name}}, # ID {{group.id}}?"<br><br></h2>
        <input type="submit" class="btn btn-danger" value="Delete this group">
         <button onclick="location.href='{% url 'groups:filter' %}'" class="btn btn-info" type="button">
             Undo delete
         </button>
    </form>
    {% endblock %}
