{% extends 'table.html'%}

    {% block main %}
        <form>

            <h2>FILL IN THE NECESSARY DATA TO FETCH RECORDS FROM THE TABLE</h2>
            <br>

            <table style="text-align: center; margin-left: 50pt;">

                <tr>
                    <td><label>Group name:</label><br></td>
                    <td><label>Subject name:</label><br></td>
                </tr>

                 <tr>
                    <td><input type="text" name="group_name" placeholder="Enter the name of the group"><br><br></td>
                    <td><input type="text" name="subject_name" placeholder="Enter the name of the subject"><br><br></td>
                 </tr>

                <tr>
                    <td><label>Lecturer:</label><br></td>
                    <td><label>Mentor:</label><br></td>
                </tr>

                 <tr>
                    <td><input type="text" name="lecturer" placeholder="Enter the name of the lecturer"><br><br></td>
                    <td><input type="text" name="mentor" placeholder="Enter the name of the mentor"><br><br></td>
                 </tr>

                <tr>
                    <td><label>Number of students:</label><br></td>
                    <td><label>Average score (points):</label><br></td>
                </tr>

                 <tr>
                    <td><input type="number" name="number_of_students" placeholder="Enter the number of students"><br><br></td>
                    <td><input type="number" name="average_score"
                               placeholder="Enter the average score of the group"><br><br></td>
                 </tr>

                 <tr>
                    <td><input type="submit" value="Search" class="btn btn-info"></td>
                    <td>
                         <button onclick="location.href='{% url 'groups:new' %}'" type="button" class="btn btn-primary">
                             Create a new group
                        </button>
                    </td>
                     <td>
                         <button onclick="location.href='{% url 'groups:list' %}'" type="button" class="btn btn-warning">
                             Edit groups
                        </button>
                    </td>
                 </tr>

            </table>

            <br>
            <div style="margin-left: 50pt;">
                <div>
                    <b>HINT:</b> the search supports content filtration (except: 'average score', 'number of students').
                </div>
                <div style="padding-left: 3em;">
                    Apply several symbols that are contained in a field to get the relevant response.
                </div>
            </div>

        </form>
    {% endblock %}

    {% block wide %}width: 70%{% endblock %}
