
    <table class="table table-responsive border-primary">
        <tr>
            {% with headers='№ ID First_Name Last_Name Age Date_of_Birth Email Phone Education Experience(y.) Group 🖉 🗑' %}
                {% for header in headers.split %}
                    <th>{{ header }}</th>
                {% endfor %}
            {% endwith %}
        </tr>

        {% for teacher in teachers %}
            <tr>
                <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.age }}</td>
                <td>{{ teacher.date_of_birth }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.mobile_number}}</td>
                <td>{{ teacher.education}}</td>
                <td>{{ teacher.exp_years}}</td>
                <td>{{ teacher.group.group_name}}</td>
                <td><a href="{% url 'teachers:edit' teacher.id %}" class="btn btn-warning">UPDATE</a></td>
                <td><a href="{% url 'teachers:delete' teacher.id %}" class="btn btn-danger">DELETE</a></td>
            </tr>
        {% endfor %}
    </table>
