{% extends 'base.html' %}


{% block main %}
    {% block action %}
        <h2><br>DELETE THE STUDENT<br><br></h2>
    {% endblock %}

    <form method='post'>
        {% csrf_token %}
        <h2>Do You confirm the delete of {{student.first_name}} {{student.last_name}}, #ID {{student.id}}?</h2>
        <br>
        <input type="submit" class="btn btn-danger" value="Delete this student">

         <button onclick="location.href='{% url 'students:list' %}'" class="btn btn-primary" type="button">
             Undo delete
         </button>
        <br>
    </form>
{% endblock %}
