{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    {% block action %}
        <h2><br>UPDATE THE STUDENT<br><br></h2>
    {% endblock %}
    <form method='post'>
        {% csrf_token %}
<!--        {{form.as_p}}<br/>-->
        {{form|crispy}}<br/>
        <input type="submit" class="btn btn-success" value="Update the student">
        &nbsp;&nbsp;&nbsp;
        <a href="{% url 'students:list' %}" class="btn btn-primary">Undo update</a>
    </form>
    <br>
{% endblock %}
