{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block main %}

        {% block action %}
            <h2 style="text-align: center;"><br>THE LIST OF STUDENTS<br><br></h2>
        {% endblock %}

        <form method='get' style="padding-left: 50pt;">
<!--            <label>First name:</label><br>-->
<!--            <input type="text" name="first_name" placeholder="Enter your first name"><br>-->

<!--            <label >Last name:</label><br>-->
<!--            <input type="text" name="last_name" placeholder="Enter your last name"><br>-->

<!--            <label >Age:</label><br>-->
<!--            <input type="number" name="age" placeholder="Enter your age"><br><br>-->

            {{ filter.form|crispy }}

            <br>

            <input type="submit" class="btn btn-info" value="Submit">
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'students:list' %}" class="btn btn-primary">Reset filters</a>
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'students:create' %}" class="btn btn-primary">Create a new student</a>

        </form>

        <br><br>

    {% endblock %}

    {% block tabula %}
        {% if filter.qs %}
            {% include './inclusive/students_tabula.html' %}
            {% include 'includes/paginator.html' %}
        {% else %}
            <h1><br>No records found on your query<br><br></h1>
        {% endif %}
    {% endblock %}

{% block wide %}width: 85%{% endblock %}
