{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    {% block action %}
        <h2><br>CREATE A STUDENT<br><br></h2>
    {% endblock %}
    <form method='post'>
        {% csrf_token %}
        {{form|crispy}}<br>
        <input type="submit" class="btn btn-success" value="Create a student">
        &nbsp;&nbsp;&nbsp;
        <a href="{% url 'students:list' %}" class="btn btn-primary">Undo creation</a>
    </form>
{% endblock %}
