<!DOCTYPE html>
<html lang="en">
{% load static %}

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <title>LMS</title>

        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container" style="text-align: center;">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <img src="{% static 'images/dt_logo.png' %}" alt="icon" style="width: 100px; height: 100px;">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">🏠</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'students:list' %}">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'teachers:filter' %}">Teachers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'groups:filter' %}">Groups</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'courses:filter' %}">Courses</a>
                        </li>
                    </ul>

<!--                    <form class="d-flex">-->
<!--                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                        <button class="btn btn-primary" type="submit" style="margin-left: 10pt; color: white;">Search</button>-->
<!--                    </form>-->
                </div>

                {% if user.is_authenticated %}

                    <div class="navbar-nav">
                        <div class="nav-item" style="padding-right: 25pt;">
                            <img class="rounded-circle img-thumbnail" alt="avatar" style="width: 100px; height: 100px;" src="{{ user.profile.image.url }}">
                        </div>
                        <div class="nav-item" style="padding-right: 15pt;">
                            <a class="btn btn-success btn-outline-primary" style="color: black; margin-top: 20px;" aria-current="page" href="{% url 'accounts:profile' %}">PROFILE<br>&lt;&lt;{{user}}&gt;&gt;</a>
                        </div>
                        <div class="nav-item">
                            <a class="btn btn-primary btn-outline-warning" style="color: black; margin-top: 30px;" aria-current="page" href="{% url 'accounts:logout' %}">LOG OUT</a>
                        </div>
                    {% if user.is_superuser %}
                        <dir>
                            <a class="btn btn-info btn-outline-danger" style="color: black; margin-top: 8px;" aria-current="page" href="admin/">ADMIN</a>
                        </dir>
                    {% endif %}
                    </div>

                {% else %}

                    <div class="navbar-nav">
                        <div class="nav-item" style="padding-right: 15pt;">
                            <a class="btn btn-primary btn-outline-warning" style="color: black;" aria-current="page" href="{% url 'accounts:login' %}">LOG IN</a>
                        </div>
                        <div>
                            <a class="btn btn-success btn-outline-primary" style="color: black;" aria-current="page" href="{% url 'accounts:registration' %}">SIGN UP</a>
                        </div>
                    </div>
                {% endif %}

            </div>
        </nav>

        <style>
            {% block cascade %}
                head{
                    font-size: 22px;
                    font-family: Serif;
                }

                body{
                    font-size: 22px;
                    font-family: Serif;
                    }

                #tab{
                    {% block wide %}{% endblock %};
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }
            {% endblock %}
        </style>
        <br>
    </head>

    <body>

        <div class="container">

            {% include 'includes/messages.html' %}

            {% block main %}
                {% block action %}
                {% endblock %}
            {% endblock %}
        </div>

        <div id="tab">
            {% block tabula %}
            {% endblock %}
        </div>

        <div id="list">
            {% block list %}
            {% endblock %}
        </div>
    </body>

</html>
