{% extends 'base.html' %}
{% load static %}

    {% block main %}
        <div class="card bg-dark text-black">
            <img src="{% static 'images/bg.png' %}" class="card-img" alt="background">
            <div class="card-img-overlay">
                <h3 style="text-align:center;">Tables</h3>
                <p>A table is an arrangement of data in rows and columns, or possibly in a more complex structure.</p>
                <p>Tables are widely used in communication, research, and data analysis.
                    Tables appear in print media, handwritten notes, computer software, architectural ornamentation, traffic signs, and many other places.
                    The precise conventions and terminology for describing tables vary depending on the context.
                </p>
                <p>Tables differ significantly in variety, structure, flexibility, notation, representation and use.
                    In books and technical articles, tables are typically presented apart from the main text in numbered and captioned floating blocks.
                </p>
            </div>
        </div>
    {% endblock %}
