{% extends 'base.html' %}

    {% block cascade %}
        body{
            font-size: 22px;
            font-family: Serif;
            }

        #data{
             border: 1px solid black; border-collapse: collapse; {% block wide %}{% endblock %};
             background-color: rgba(100, 100, 200, 0.2); text-align: center;
             letter-spacing: 1px; line-height: 1.5; margin-left: auto; margin-right: auto;
             }
    {% endblock %}

    {% block tabula %}
        {% if data %}
            <br>
            <table id="data">
                <tr style="border: 1px solid black; font-variant: small-caps;">
                    {% for header in headers %}
                        <th style="border: 1px solid black;">{{ header }}</th>
                    {% endfor %}
                </tr>

                {% for row in data %}
                    <tr style="border: 1px solid black;">
                        {% for cell in row %}
                            <td style="border: 1px solid black;">{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <br><br>
        {% else %}
            <h1 style='margin-left: 750px;'><br>No records found on your query<br><br></h1>
        {% endif %}
    {% endblock %}
