<table class="table table-bordered border-primary">
    <tr>
        {% with headers='№ ID Name Surname Age Email Phone Group 🖉 🗑' %}
            {% for header in headers.split %}
                <th>{{ header }}</th>
            {% endfor %}
        {% endwith %}
    </tr>

    {% for student in students %}
        <tr>
            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td>{{ student.id }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone_number }}</td>
            <td>{{ student.group.group_name }}</td>
            <td><a href="{% url 'students:update' student.id %}" class="btn btn-warning">UPDATE</a></td>
            <td><a href="{% url 'students:delete' student.id %}" class="btn btn-danger">DELETE</a></td>
        </tr>
    {% endfor %}
</table>
<br>
