{% extends 'base.html'%}

    {% block main %}
    <form method='post'>
    {% csrf_token %}
        <h2>Do You confirm the delete of the course {{course.course_name}}, # ID {{course.id}}?<br><br></h2>
        <input type="submit" class="btn btn-danger" value="Delete this course">
         <button onclick="location.href='{% url 'courses:filter' %}'" class="btn btn-info" type="button">
             Undo delete
         </button>
    </form>
    {% endblock %}
