{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block main %}

        {% block action %}
            <h2 style="text-align: center;"><br>THE LIST OF COURSES<br><br></h2>
        {% endblock %}

        <form method='get' style="padding-left: 50pt;">

            {{ filter.form|crispy }}

            <br><br>

            <input type="submit" class="btn btn-info" value="Submit">
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'courses:filter' %}" class="btn btn-primary">Reset filters</a>
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'courses:new' %}" class="btn btn-primary">Create a new course</a>

        </form>

        <br><br><br>

    {% endblock %}

    {% block tabula %}
        {% if filter.qs %}
            <table class="table table-bordered border-primary">
                <tr>
                    {% with headers='ID Course Group Teachers 🖉 🗑' %}
                        {% for header in headers.split %}
                            <th>{{ header }}</th>
                       {% endfor %}
                   {% endwith %}
                </tr>

                {% for course in courses %}
                    <tr>
                        <td>{{ course.id }}</td>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.group.group_name }}</td>
                        <td>
                            {% for teacher in course.teachers.all %}
                            <div>#ID{{ teacher.id }} {{ teacher.first_name }} {{ teacher.last_name }}</div>
                            {% endfor %}
                        </td>
                        <td><a href="{% url 'courses:edit' course.id %}" class="btn btn-warning">UPDATE</a></td>
                        <td><a href="{% url 'courses:delete' course.id %}" class="btn btn-danger">DELETE</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h1 style="margin-right: 350pt;">No records found on your query<br><br></h1>
        {% endif %}
    {% endblock %}

{% block wide %}width: 70%{% endblock %}
