{% extends 'base.html'%}
{% load crispy_forms_tags %}

    {% block main %}
       <form method='post' style='margin-left: 20pt'>
            {% csrf_token %}
            <h2>Update an existing record on a teacher with id №{{ id }}<br> in the table 'Courses' of the DB.<br><br></h2>
            {{ form|crispy }}
            <input type="submit" value="Update the course" class="btn btn-warning">
            <button onclick="location.href='{% url 'courses:filter' %}'" type="button" style="margin-left: 10pt;" class="btn btn-primary">
                Undo alterations
            </button>
           <br><br>
       </form>
    {% endblock %}
