{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    {% block action %}
        <h2><br>CHANGE YOUR CURRENT PASSWORD<br><br></h2>
    {% endblock %}
    <form method='post'>
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <input type="submit" class="btn btn-success" value="SAVE" style="margin-right: 30pt;">
        <a href="{% url 'accounts:profile' %}" class="btn btn-info">Return</a>
    </form>
    <br>
{% endblock %}
