{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    {% block action %}
        <h2><br>YOUR CURRENT PROFILE<br><br></h2>
    {% endblock %}
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        <div class="media">
            <div class="img-circle.vert">
                <img class="rounded-circle p-1 m-1" width="200" height="200" alt="default" src="{{ user.profile.image.url }}">
            </div>
            <div class="media-body  p-3 m-3">
                <h2 class="account-heading" style="margin-top: 15px;">USERNAME: &lt&lt{{ user.username }}&gt&gt</h2>
                <h3 class="account-heading">FULL NAME: {{ user.first_name }} {{ user.last_name }}</h3>
                <p class="text-secondary">EMAIL: {{ user.email }}</p>
            </div>
        </div>

        <br>
        {{user_form|crispy}}
        <br>
        {{profile_form|crispy}}
        <br>
        <input type="submit" class="btn btn-success" value="SAVE">
        <a href="{% url 'accounts:delete' user.id %}" class="btn btn-danger">DELETE THIS ACCOUNT</a>
    </form>
    <br>
{% endblock %}
