{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block main %}

        {% block action %}
            <h2 style="text-align: center;"><br>THE LIST OF TEACHERS<br><br></h2>
        {% endblock %}

        <form method='get' style="padding-left: 50pt;">

            {{ filter.form|crispy }}

            <br>

            <div>
                <input type="submit" class="btn btn-info" value="Submit" style="margin-right: 10pt;">
                <a href="{% url 'teachers:filter' %}" class="btn btn-primary" style="margin-right: 10pt;">Reset filters</a>
                <a href="{% url 'teachers:new' %}" class="btn btn-primary" style="margin-right: 10pt;">Create a new teacher</a>
            </div>
        </form>

        <br><br><br>

    {% endblock %}

    {% block tabula %}
        {% if filter.qs %}
            {% include 'teachers/inclusive/teachers_tabula.html' %}
            {% include 'includes/paginator.html' %}
        {% else %}
            <h1 style=" margin-right: 800pt;">No records found on your query<br><br></h1>
        {% endif %}
    {% endblock %}

{% block wide %}width: 135%{% endblock %}
