{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block main %}

        {% block action %}
            <h2 style="text-align: center;"><br>THE LIST OF GROUPS<br><br></h2>
        {% endblock %}

        <form method='get' style="padding-left: 50pt;">

            {{ filter.form|crispy }}

            <br><br>

            <input type="submit" class="btn btn-info" value="Submit">
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'groups:filter' %}" class="btn btn-primary">Reset filters</a>
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'groups:new' %}" class="btn btn-primary">Create a new group</a>

        </form>

        <br><br><br>

    {% endblock %}

    {% block tabula %}
        {% if filter.qs %}
            <table class="table table-bordered border-primary">
                <tr>
                    {% with headers='ID Group Course Lecturer Mentor Students Avg.Score Headman 🖉 🗑' %}
                        {% for header in headers.split %}
                            <th>{{ header }}</th>
                       {% endfor %}
                   {% endwith %}
                </tr>

                {% for group in groups %}
                    <tr>
                        <td>{{ group.id }}</td>
                        <td>{{ group.group_name }}</td>
                        <td>{{ group.subject.course_name }}</td>
                        <td>

                            {% for teacher in group.teachers.all %}
                                    {{ teacher.first_name }} {{ teacher.last_name }}
                          {% endfor %}
<!--                            <div>-->            <!-- # much slower performance -->
<!--                                {{ teachers }}-->
<!--                            </div>-->
                        </td>
                        <td>{{ group.mentor }}</td>
                        <td>
                            {% for student in group.students.all %}
                                <div>{{ student.id }} {{ student.first_name }} {{ student.last_name }}</div>
                            {% endfor %}
                        </td>
                        <td>{{ group.average_score }}</td>
                        <td>
                            {{ group.headman.first_name }}
                            {{ group.headman.last_name }}
                        </td>
                        <td><a href="{% url 'groups:edit' group.id %}" class="btn btn-warning">UPDATE</a></td>
                        <td><a href="{% url 'groups:delete' group.id %}" class="btn btn-danger">DELETE</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'includes/paginator.html' %}
        {% else %}
            <h1 style="margin-right: 350pt;">No records found on your query<br><br></h1>
        {% endif %}
    {% endblock %}

{% block wide %}width: 100%{% endblock %}
